{% load static %}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Risicovoorspeller Ongevallen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!--Debugger -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'landingspage/bulma-debug.css' %}">-->
    <!--/Debugger -->
    <link rel="stylesheet" type="text/css" href="{% static 'landingspage/helper.css' %}">

    <style>
    .hero {
        background: white;
        <!-- black url{"../static/img/hero-1.jpg"} center / cover; -->
        }

        @media (max-width: 1024px) { .hero {background: black url{"../static/img/hero-1.jpg"} center / cover; } }
        @media (max-width: 768px) { .hero {background: black url{"../static/img/hero-1.jpg"} center / cover; } }
    </style>

</head>
<body>
<!-- .hero -->
<section class="hero is-fullheight">
    <!-- .hero-head -->
    <section class="hero-head">
        <div class="columns is-mobile is-marginless heading has-text-weight-bold">
            <div class="column left">
                <figure class="navbar-item image" style="width: 6.25rem; height: 1rem;">
                    <a href="/"><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSJXN5jQ8HQhHHPOyI3tT-8NvTrVc3g0g2fBr7S_5pXKCO6f0o8"
                            alt="Sweco Logo"></a>
                </figure>
            </div>
            <div class="column center desktop">
                <p class="navbar-item has-text-black"><a href="/">LINK 1</a></p>
                <p class="navbar-item has-text-black"><a href="/">LINK 2</a></p>
                <p class="navbar-item has-text-black"><a href="/">LINK 3</a></p>
                <p class="navbar-item has-text-black"><a href="/">LINK 4</a></p>
                <p class="navbar-item has-text-black"><a href="/">LINK 5</a></p>
            </div>
            <div class="column right">
                <p class="navbar-item desktop has-text-black"><a href="/">MAP</a></p>
                <p class="navbar-item desktop has-text-black"><a href="/">SIGN IN</a></p>
                <figure class="navbar-item image">
                    <i class="fas fa-bars"></i>
                </figure>

            </div>
        </div>
    </section>
    <!-- /.hero-head -->
</section>
<!-- /.hero -->

</body>
</html>


