{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns" id="columnrow1">
                <div class="column" id="cards">
                    <section class="notification is-primary" id="card1">
                        <p>Updates</p>
                        <p>Bekijk onze voortgang</p>
                        <p>faff</p>
                    </section>
                </div>
                <div class="column is-8" id="cards">
                    <section class="notification is-primary" id="card2">
                        <p>Bekijk onze voortgang</p>
                    </section>
                </div>
            </div>
            <div class="columns" id="columnrow2">
                <div class="column is-8" id="cards">
                    <section class="notification is-primary" id="card3">
                        <p>hi</p>
                        <p>Bekijk onze voortgang</p>
                    </section>
                </div>
                <div class="column" id="cards">
                    <section class="notification is-primary" id="card4">
                        <p>First</p>
                        <p>Bekijk onze voortgang</p>
                        <p>balbalbab</p>
                    </section>

                </div>
            </div>
        </div>
    </section>

    <style>
        #cards {
            display: inline-grid;
        }

        #card1 {
            background-image: url("{% static "images/map.jpg" %}");

        }

        #card2 {
            background-image: url("");

        }

        #card3 {
            background-image: url("");

        }

        #card4 {
            background-image: url("");

        }




    </style>

    <script>
    const mouseTarget = document.getElementById('card1');


    mouseTarget.addEventListener('mouseover', function(event) {
        event.target.style.color= "purple";
        


    });

    mouseTarget.addEventListener('mouseout', function(event) {
        event.target.style.color= "white";


    });


    </script>
{% endblock %}

{% block scripts %}
    <!-- block.super will get the content of the block from the parent template -->
    {{ block.super }}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
