<head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>

<body>

<div id='map'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicGFuZHlzYWN0b3IiLCJhIjoiY2sxYWdwMmlkMTdlcDNubGwzbzhpc3drMSJ9.a1m4P6JEaNBgZcK7qGfJtA';

// Set bounds to Netherlands
var bounds = [
[3.131274, 50.714977], // Southwest coordinates
[7.359787, 53.629832]  // Northeast coordinates
];

var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v9',
    center: [5.1893384, 52.1079593],
    zoom: 7,
    minZoom: 7,
    maxZoom: 18,
    maxBounds: bounds
});

// Functions to load on map. Used for map layers
map.on('load', function () {

map.addLayer({
    "id": "route",
    "type": "line",
    "source": {
        "type": "geojson",
        "data": {
            "type": "FeatureCollection",
            "features":
[
{"type": "Feature", "properties": { "osm_id": "319567177", "code": 5141, "fclass": "service", "name": null, "ref": null, "oneway": "B", "maxspeed": 0, "layer": 0, "bridge": "F", "tunnel": "F" }, "geometry": { "type": "LineString", "coordinates": [ [ 5.6968919, 52.4545712 ], [ 5.6966071, 52.4548204 ], [ 5.6966193, 52.4548724 ], [ 5.6965664, 52.4549418 ], [ 5.6964892, 52.4549641 ], [ 5.6963916, 52.4549492 ], [ 5.6963266, 52.4548997 ], [ 5.6963144, 52.4548352 ], [ 5.6963997, 52.4547857 ], [ 5.696477, 52.4547857 ], [ 5.6966071, 52.4548204 ] ] } },
{ "type": "Feature", "properties": { "osm_id": "319567178", "code": 5153, "fclass": "footway", "name": null, "ref": null, "oneway": "B", "maxspeed": 0, "layer": 0, "bridge": "F", "tunnel": "F" }, "geometry": { "type": "LineString", "coordinates": [ [ 5.6964892, 52.4549641 ], [ 5.6964282, 52.4550904 ], [ 5.69639, 52.45521 ] ] } },
{ "type": "Feature", "properties": { "osm_id": "319567179", "code": 5124, "fclass": "pedestrian", "name": null, "ref": null, "oneway": "B", "maxspeed": 0, "layer": 0, "bridge": "F", "tunnel": "F" }, "geometry": { "type": "LineString", "coordinates": [ [ 5.6935051, 52.4521248 ], [ 5.693558, 52.4521595 ], [ 5.694225, 52.452536 ], [ 5.6941563, 52.4526525 ] ] } },
{ "type": "Feature", "properties": { "osm_id": "319567180", "code": 5124, "fclass": "pedestrian", "name": null, "ref": null, "oneway": "B", "maxspeed": 0, "layer": 0, "bridge": "F", "tunnel": "F" }, "geometry": { "type": "LineString", "coordinates": [ [ 5.692102, 52.4527671 ], [ 5.6930782, 52.4521124 ], [ 5.6930945, 52.4520356 ], [ 5.69328, 52.45198 ] ] } },
{ "type": "Feature", "properties": { "osm_id": "319758833", "code": 5141, "fclass": "service", "name": null, "ref": null, "oneway": "B", "maxspeed": 0, "layer": 0, "bridge": "F", "tunnel": "F" }, "geometry": { "type": "LineString", "coordinates": [ [ 5.7218278, 52.5254607 ], [ 5.7221524, 52.5256598 ], [ 5.7221685, 52.5257675 ], [ 5.7221604, 52.5258834 ], [ 5.7221581, 52.525979 ] ] } },
{ "type": "Feature", "properties": { "osm_id": "319758835", "code": 5141, "fclass": "service", "name": null, "ref": null, "oneway": "B", "maxspeed": 0, "layer": 0, "bridge": "F", "tunnel": "F" }, "geometry": { "type": "LineString", "coordinates": [ [ 5.7115601, 52.5268038 ], [ 5.7115844, 52.5269089 ], [ 5.7116191, 52.5270966 ], [ 5.7116722, 52.5273785 ] ] } },
{ "type": "Feature", "properties": { "osm_id": "319758836", "code": 5141, "fclass": "service", "name": null, "ref": null, "oneway": "B", "maxspeed": 0, "layer": 0, "bridge": "F", "tunnel": "F" }, "geometry": { "type": "LineString", "coordinates": [ [ 5.7110976, 52.5262701 ], [ 5.7110529, 52.5264674 ], [ 5.7108944, 52.5266084 ], [ 5.7107802, 52.5266455 ] ] } },
{ "type": "Feature", "properties": { "osm_id": "319758837", "code": 5141, "fclass": "service", "name": null, "ref": null, "oneway": "B", "maxspeed": 0, "layer": 0, "bridge": "F", "tunnel": "F" }, "geometry": { "type": "LineString", "coordinates": [ [ 5.7102804, 52.5260419 ], [ 5.7100772, 52.5260618 ], [ 5.7101545, 52.5264699 ] ] } },
{ "type": "Feature", "properties": { "osm_id": "319758839", "code": 5124, "fclass": "pedestrian", "name": null, "ref": null, "oneway": "B", "maxspeed": 0, "layer": 0, "bridge": "F", "tunnel": "F" }, "geometry": { "type": "LineString", "coordinates": [ [ 5.7064921, 52.5206468 ], [ 5.7076133, 52.5205718 ], [ 5.7095109, 52.520458 ], [ 5.7097764, 52.5204443 ], [ 5.7105122, 52.5201103 ], [ 5.7106428, 52.52008 ] ] } },
{ "type": "Feature", "properties": { "osm_id": "319758840", "code": 5124, "fclass": "pedestrian", "name": null, "ref": null, "oneway": "B", "maxspeed": 0, "layer": 0, "bridge": "F", "tunnel": "F" }, "geometry": { "type": "LineString", "coordinates": [ [ 5.7106428, 52.52008 ], [ 5.7126519, 52.5199495 ], [ 5.7128051, 52.5199371 ], [ 5.7128218, 52.5200433 ] ] } },
{ "type": "Feature", "properties": { "osm_id": "319758841", "code": 5141, "fclass": "service", "name": null, "ref": null, "oneway": "B", "maxspeed": 0, "layer": 0, "bridge": "F", "tunnel": "F" }, "geometry": { "type": "LineString", "coordinates": [ [ 5.7135735, 52.5207807 ], [ 5.7134353, 52.5207931 ], [ 5.7133824, 52.5208277 ], [ 5.7134398, 52.5211097 ] ] } },
{ "type": "Feature", "properties": { "osm_id": "319758842", "code": 5141, "fclass": "service", "name": null, "ref": null, "oneway": "B", "maxspeed": 0, "layer": 0, "bridge": "F", "tunnel": "F" }, "geometry": { "type": "LineString", "coordinates": [ [ 5.7139914, 52.5210752 ], [ 5.7140532, 52.5214412 ], [ 5.714102, 52.5214931 ] ] } },
{ "type": "Feature", "properties": { "osm_id": "319758843", "code": 5141, "fclass": "service", "name": null, "ref": null, "oneway": "B", "maxspeed": 0, "layer": 0, "bridge": "F", "tunnel": "F" }, "geometry": { "type": "LineString", "coordinates": [ [ 5.7147577, 52.5217299 ], [ 5.7147322, 52.5215921 ], [ 5.7151956, 52.5215649 ] ] } },
{ "type": "Feature", "properties": { "osm_id": "319758844", "code": 5152, "fclass": "cycleway", "name": null, "ref": null, "oneway": "B", "maxspeed": 0, "layer": 0, "bridge": "F", "tunnel": "F" }, "geometry": { "type": "LineString", "coordinates": [ [ 5.7135718, 52.5227001 ], [ 5.7139841, 52.522678 ] ] } }
]
  }
    },
    "layout": {
        "line-join": "round",
        "line-cap": "round"
    },
        "paint": {
        "line-color": "#ff0101",
        "line-width": 4
    }
});

map.on('click', 'route', function (e) {
new mapboxgl.Popup()
.setLngLat(e.lngLat)
.setHTML(e.features[0].properties.fclass)
.addTo(map);
});

// Change the cursor to a pointer when the mouse is over the places layer.
map.on('mouseenter', 'places', function () {
map.getCanvas().style.cursor = 'pointer';
});

// Change it back to a pointer when it leaves.
map.on('mouseleave', 'places', function () {
map.getCanvas().style.cursor = '';
});


});

//[50.618,3.010,53.814,7.350],
// Add zoom and rotation controls to the map.
map.addControl(new mapboxgl.NavigationControl());
</script>

</body>
</html>
